<%= title "Approval Images" %>

<div class="container mt-5">
  <div class="py-5 px-5 bg-white rounded">
    <%= render "products/product_header" %>

    <h3 class="mt-5 h5 bb-1 pb-2 text-muted">THE USERS' IMAGES FOR APPROVAL</h3>


    <% ApprovalImage.where(product: @product, status: :waiting_approval).each do |ai| %>
      <div class="row product">
        <div class="col-10">
          <%= image_tag ai.image, class: 'img-thumbnail' %>
        </div>

        <div class="col-1">
          <%= form_for [@product, ai] do |f| %>
            <%= f.hidden_field :status, value: "approved" %>
            <%= f.submit "Approve" %>
          <% end %>
        </div>

        <div class="col-1">
          <%= form_for [@product, ai] do |f| %>
            <%= f.hidden_field :status, value: "denied" %>
            <%= f.submit "Deny" %>
          <% end %>
        </div>
      </div>
    <% end %>


    <h3 class="mt-5 h5 bb-1 pb-2 text-muted">APPROVED IMAGES</h3>

      
    <% ApprovalImage.where(product: @product, status: :approved).each do |ai| %>
      <div class="row product">
        <div class="col-2">
          <%= image_tag ai.image, class: 'img-fluid' %>
        </div>
        <div class="col-10 text-right">
          <%= ai.user.full_name %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  
