<div class="mw5 center mb5">
  <h2 class="tc">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb3">
      <%= f.label :email,
                  class: 'db mb2 b' %>
      <%= f.email_field :email,
                        autofocus: true,
                        class: 'db border-box ba br2 b--black-20 pa2 w-100' %>
    </div>

    <div class="mb3">
      <%= f.label :password,
                  class: 'db b' %>
      <% if @minimum_password_length %>
        <em class="mb2 db f6 black-60">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>

      <%= f.password_field  :password,
                            autocomplete: "off",
                            class: 'db border-box ba br2 b--black-20 pa2 w-100' %>
    </div>

    <div class="mb3">
      <%= f.label :password_confirmation,

                  class: 'db mb2 b' %>
      <%= f.password_field :password_confirmation,
                            autocomplete: "off",
                            class: 'db border-box ba br2 b--black-20 pa2 w-100' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

</div>

<%= render "devise/shared/links" %>
