<div class="pv3 cf bb b--black-05 lh-copy"
      id="<%= dom_id(comment) %>">

  <div class="fl w-25 b">
    <%= link_to comment.author.full_name, comment.author, class: "link black" %>
    <% if comment.author.usage_manifest_for(comment.product).try(:approved_image_id) %>
      <span class="dib br-100 tc bg-green white" style="width: 1.3rem; line-height: 1.3rem">&#x2713;</span>
    <% end %>

    <% if comment.author.usage_manifest_for(comment.product).try(:used?) %>
      <span class="dib" style="width: 1.3rem; line-height: 1.3rem">&#128273;</span>
    <% end %>
  </div>

  <div class="fl w-75">
      <%= comment.body %>
      <date>
        <%= link_to comment, class: "link blue dib ml1" do %>
          <%= time_ago_in_words comment.created_at %> ago
        <% end %>
      </date>
      
      <% if policy(comment).update? %>
        <%= link_to '[edit]',
                    edit_comment_path(comment),
                    class: 'link blue dib ml1' %>

        <%= link_to '&times;'.html_safe,
                    comment,
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'link blue dib ml1' %>
      <% end %>

    
  </div>
  
</div>