<% path_for_form = comment.persisted? ? comment : [product, comment] %>

<%= form_for(path_for_form) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fl w-25 b">
    <%= current_user.try(:full_name) || "YOU" %>
  </div>

  <div class="fl w-75">
    <% if policy(comment).edit? or policy(comment).new? %>
      <%= f.text_area :body, rows: 4, class: "w-100", placeholder: "Add a comment..." %>
      <%= f.submit "Save", class: "fr dib" %>
    <% elsif current_user %>
      <div id="<%= dom_id(current_user.comment_on(product)) %>">
        <p class="ma0 bg-white w-100 bn lh-copy">
          <%= current_user.comment_on(product).body %>
          <date>
            <%= link_to current_user.comment_on(product), class: "link blue dib ml1" do %>
              <%= time_ago_in_words current_user.comment_on(product).created_at %> ago
            <% end %>
          </date>
          <%= link_to "[edit]",
              edit_comment_path(product.comments.find_by(author: current_user)),
              class: "link blue" %>
          <%= link_to "&times;".html_safe, 
              product.comments.find_by(author: current_user),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "link blue" %>
        </p>
      </div>

    <% else %>
      <div>
        <p class="ma0 bg-white silver w-100 bn">
          You must sign in for add a comment.
          <%= link_to "[Signin]", 
              new_user_session_path,
              class: "link blue" %>
        </p>
      </div>

    <% end %>
  </div>
<% end %>
