<%= form_for([product, comment]) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fl w-25 b">
    <%= current_user.try(:full_name) || "YOU" %>
  </div>


  <div class="fl w-75">
      <%= f.text_field :body, class: "w-100 bn", placeholder: "Add a comment..." %>
      <%= f.submit nil, class: "dn" %>
  </div>
<% end %>
