<%= render "products/product_header" %>

<%= render "products/product_nav" %>

<h2 class="normal f4">Comments (<%= @product.comments.count %>)</h2>
  
<%= render @product.comments %>

<div class="pv3 cf mb bt b--black-10">
  <%= render 'form',
              comment: (@comment or @product.comments.new),
              product: @product %>
</div>