<%= render "products/product_header" %>

<%= render "products/product_nav" %>

<h2 class="normal f4">Comments (<%= @product.comments.count %>)</h2>
  
<%= render @product.comments %>

<div class="pv3 cf mb">
  <%= render 'comments/form', comment: (@comment or Comment.new), product: @product %>
</div>