<%= render "header" %>
<%= render "navigation" %>

<table class="mt4">
  <thead>
    <tr>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "first_name" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= (sortable "last_name").html_safe %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "email" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "sign_in_count" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "current_sign_in_at" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "last_sign_in_at" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "created_at" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "admin" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>">
        <td class="pr3 pv2 bb b--black-10">
          <%= link_to user.first_name, user, class: "link blue" %>
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <%= link_to user.last_name, user, class: "link blue" %>
        </td>
        <td class="pr3 pv2 bb b--black-10"><%= user.email %></td>
        <td class="pr3 pv2 bb b--black-10"><%= user.sign_in_count %></td>
        <td class="pr3 pv2 bb b--black-10">
          <% if user.current_sign_in_at %>
            <%= time_ago_in_words user.current_sign_in_at %> ago
          <% end %>
          &nbsp;
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <% if user.last_sign_in_at %>
            <%= time_ago_in_words(user.last_sign_in_at) %> ago
          <% end %>
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <%= time_ago_in_words user.created_at %> ago
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <%= "yes" if user.admin? %>
          &nbsp;
        </td>
      </tr>
    <% end %>
  </tbody>
</table>