<%= render "header" %>
<%= render "navigation" %>

<table class="mt-5 table table-hover">
  <thead class="thead-default">
    <tr>
      <th>
        <%= sortable "first_name" %>
      </th>
      <th>
        <%= (sortable "last_name").html_safe %>
      </th>
      <th>
        <%= sortable "email" %>
      </th>
      <th>
        <%= sortable "sign_in_count" %>
      </th>
      <th>
        <%= sortable "current_sign_in_at" %>
      </th>
      <th>
        <%= sortable "last_sign_in_at" %>
      </th>
      <th>
        <%= sortable "created_at" %>
      </th>
      <th>
        <%= sortable "admin" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>">
        <td>
          <%= link_to user.first_name, user, class: "link blue" %>
        </td>
        <td>
          <%= link_to user.last_name, user, class: "link blue" %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.sign_in_count %></td>
        <td>
          <% if user.current_sign_in_at %>
            <%= time_ago_in_words user.current_sign_in_at %> ago
          <% end %>
          &nbsp;
        </td>
        <td>
          <% if user.last_sign_in_at %>
            <%= time_ago_in_words(user.last_sign_in_at) %> ago
          <% end %>
        </td>
        <td>
          <%= time_ago_in_words user.created_at %> ago
        </td>
        <td>
          <%= "yes" if user.admin? %>
          &nbsp;
        </td>
      </tr>
    <% end %>
  </tbody>
</table>