<div class="container px-5 py-5 bg-white mt-5">
  <h1 class="h4"><%= @user.full_name %></h1>

  <h2 class="h6 bb-1 mt-5 mb-3 pb-2 text-muted">USING (<%= (ums = @user.usage_manifests.where(status: :using)).count %>)</h2>

  <% ums.each do |um| %>
    <div class="row product py-2" id="using">
      <div class="col-8">
        <%= link_to um.product.name, product_comments_path(um.product), class: "link blue" %>
      </div>
      <div class="col-2">
        <% if (comment = @user.comments.find_by(product: um.product)) %>
          <%= link_to 'comment', comment %>
        <% end %>
      </div>
      <div class="col-2">
        using
        <% if um.approved_image_id %>
          <span class="dib br-100 tc bg-green white" style="width: 1.3rem; line-height: 1.3rem">&#x2713;</span>
        <% end %>
      </div>
    </div>
  <% end %>

  <h2 class="h6 bb-1 mt-5 mb-3 pb-2 text-muted">USED (<%= (ums = @user.usage_manifests.where(status: :used)).count %>)</h2>

  <% ums.each do |um| %>
    <div class="row product py-2" id="used">
      <div class="col-10">
        <%= link_to um.product.name, product_comments_path(um.product), class: "link blue" %>
      </div>
      <div class="col-2">
        used
        <span class="dib" style="width: 1.3rem; line-height: 1.3rem">&#128273;</span>
      </div>
    </div>
  <% end %>
  
</div>

