<div class="mw6 center mb5">
  <h2 class="tc">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb3 cf">
      <%= f.label :email, class: 'db mb2 b' %>

      <%= f.email_field :email,
                        autofocus: true,
                        class: 'db border-box ba br2 b--black-20 pa2 w-100' %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>

</div>
<%= render "devise/shared/links" %>
