<nav class="nav">
  <%= link_to "DASBOARD",
               administration_path,
               class: "nav-link" %>

  <%= link_to "USERS (" + User.count.to_s + ")",
               administration_users_path,
               class: "nav-link" %>

  <%= link_to "PRODUCTS (" + Product.count.to_s + ")",
               administration_products_path,
               class: "nav-link" %>

  <%= link_to "COMMENTS (" + Comment.count.to_s + ")",
               administration_comments_path,
               class: "nav-link" %>

  <%= link_to "USAGE APPROVAL (" + ApprovalImage.count.to_s + ")",
               administration_usage_approvals_path,
               class: "nav-link" %>
</nav>


<hr />