<%= form_for(product_usage, html: { multipart: true }) do |f| %>
  <% if product_usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_usage.errors.count, "error") %> prohibited this product_usage from being saved:</h2>

      <ul>
      <% product_usage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>
  </div>

  <div class="field">
    <%= f.label :usage_status %>
    <%= f.collection_radio_buttons :usage_status, ProductUsage.usage_statuses.keys, :to_s, :to_s do |b| %>
      <% b.label { b.radio_button + humanize_status_for(b.text) } %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
    <%#= f.hidden_field :images %>
  </div>

  <div class="field">
    <%= f.label :comment_body %>
    <%= f.text_area :comment_body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
