<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product_usage.user.email %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product_usage.product_name %>
</p>

<p>
  <strong>Usage status:</strong>
  <%= humanize_status_for @product_usage.usage_status %>
</p>

<p>
  <strong>Images:</strong>
  <% @product_usage.images.each do |image| %>
    <%= image_tag image, width: 100 %>
  <% end %>
</p>

<p>
  <strong>Comment body:</strong>
  <%= @product_usage.comment_body %>
</p>

<%= link_to 'Edit', edit_product_usage_path(@product_usage) %> |
<%= link_to 'Back', product_usages_path %>
