<%= render "header" %>
<%= render "navigation" %>

<table class="mt4 w-100">
  <thead>
    <tr>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "brand" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "name" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "used_users_count" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "using_users_count" %>
      </th>
      <th class="pr3 tl pv2 bb b--black-10">
        <%= sortable "created_at" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr id="<%= dom_id product %>">
        <td class="pr3 pv2 bb b--black-10">
          <%= link_to product.brand, product, class: "link blue" %>
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <%= link_to product.name, product, class: "link blue" %>
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <%= product.used_users_count %>
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <%= product.using_users_count %>
        </td>
        <td class="pr3 pv2 bb b--black-10">
          <%= time_ago_in_words product.created_at %> ago
        </td>
      </tr>
    <% end %>
  </tbody>
</table>