<%= render "header" %>
<%= render "navigation" %>

<table class="table table-hover mt-5">
  <thead class="thead-default">
    <tr>
      <th>
        <%= sortable "product_id" %>
      </th>
      <th>
        <%= sortable "user_id" %>
      </th>
      <th>
        User Has Comment
      </th>
      <th>
        <%= sortable "created_at" %>
      </th>
      <th>
        <%= sortable "updated_at" %>
      </th>
      <th>
        Image
      </th>
      <th>
        <%= sortable "status" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @approval_images.each do |ai| %>
      <tr id="<%= dom_id ai %>">
        <td>
          <%= link_to ai.product.display, ai.product, class: "link blue" %>
        </td>
        <td>
          <%= link_to ai.user.full_name, ai.user, class: "link blue" %>
        </td>
        <td>
          <%= "yes" if Comment.find_by(author: ai.user, product: ai.product) %>
        </td>
        <td>
          <%= time_ago_in_words ai.created_at %> ago
        </td>
        <td>
          <%= time_ago_in_words ai.updated_at %> ago
        </td>
        <td>
          <%= link_to ai.image.url, target: "_blank" do %>
            <%= image_tag ai.image, width: 100 %>
          <% end %>
        </td>
        <td>
          <% case ai %>
          <% when :waiting_approval?.to_proc %>
            <span class="gold">Waiting Approval</span>
          <% when :approved?.to_proc %>
            <span class="green">Approved</span>
          <% when :denied?.to_proc %>
            <span class="red">Denied</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>