<nav class="dt w-100 border-box pa3 ph5-ns bb b--black-10">
  <%= link_to "Home", root_path, class: "dtc v-mid link dim black b f6 f5-ns dib mr3 w-25"  %>

  <div class="dtc v-mid w-75 tr">
    <% if user_signed_in? %>
      <span class="black-50 ml3">Welcome</span> 

      <%= link_to current_user.first_name,
                  current_user,
                  class: 'link dim black f6 f5-ns dib ml3' %>

      <% if policy(:dashboard).index? %>
        <%= link_to "Administration",
                    administration_path,
                    class: 'link dim black f6 f5-ns dib ml3' %>
      <% end %>
 
      <%= link_to 'Edit User',
                  edit_user_registration_path,
                  class: 'link dim black f6 f5-ns dib ml3' %>

      <%= link_to 'Sign out',
                  destroy_user_session_path,
                  method: :delete,
                  class: 'link dim black f6 f5-ns dib ml3' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'link dim black f6 f5-ns dib ml3' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'link dim black f6 f5-ns dib ml3' %>
    <% end %>
    
  </div>

</nav>
