<%= form_for(product, html: { multipart: true }) do |f| %>
  <% if product.errors.any? %>
    <div class="alert alert-warning">
      <span class="lh-title ml3">
        <%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:
      </span>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>

  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field  :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :brand %>
    <%= f.text_field  :brand, class: 'form-control' %>
  </div>

  <div class="row">

    <div class="col-9" id="image-selector">
      <script type="text/javascript">
        $(function() {
          var $div = $(".selector-link").last().closest('div.form-group').hide().remove();
          $("#image-selector").on('click', '.selector-link', function(event) {
            event.preventDefault();
            $(this).closest('#image-selector').append($($div));
            $($div).show(200);
            $(this).closest('div.form-group').hide(200, function() {
              $div = $(this).remove();  
            })
          });

          $('#image-selector').on('change', '#product_image', function() {
              if (this.files && this.files[0]) {
              var reader = new FileReader();

              reader.onload = function(e) {
                $('#image-preview').attr('src', e.target.result);
              }

              reader.readAsDataURL(this.files[0]);
            }
          });

          $('#image-selector').on('keyup', '#product_remote_image_url', function(e) {
            $('#image-preview').attr('src', $(this).val());
          });
        });
      </script>

      <div class="form-group">
        <%= f.label :image %>
        <%= link_to "(or paste image url)", "#", class: "selector-link" %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div class="form-group">
        <%= f.label :remote_image_url %>
        <%= link_to "(or select image from your computer)", "#", class: "selector-link" %>
        <%= f.text_field :remote_image_url, class: 'form-control' %>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label>Image Preview</label>
        <div class="img-thumbnail" style="min-height: 50px">
          <% if product.image? %>
            <%= image_tag(product.image_url, id: "image-preview", class: "img-fluid") if product.image? %>  
          <% else %>
            <img src="#" id="image-preview" class="img-fluid">
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: true}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: "btn btn-secondary" %>
  </div>
<% end %>
