<h1 class="h3">
  <%= image_tag(@product.image_url, width: 50, class: "img-thumbnail") if @product.image? %>
  <%= @product.brand %>
  <%= @product.name %>

  <% if policy(@product).edit? %>
    <%= link_to '[Edit]',
                edit_product_path(@product),
                class: 'link h6' %>
  <% end %>

  <% if policy(ApprovalImage).index? %>
    <%= link_to '[Moderation]',
                product_approval_images_path(@product),
                class: 'link h6' %>
  <% end %>

</h1>


<ul class="nav text-muted">
  <li class="nav-link"><%= @product.using_users_count %> using</li>
  <li class="nav-link"><%= @product.used_users_count %> used</li>
  <li class="nav-link">
    <% if user_signed_in? && (um = current_user.usage_manifest_for(@product)) %>
      
      <%=  humanize_status_for um.status %> 

      <%= link_to "Cancel",
                  [@product, :usage_manifests],
                  method: :delete,
                  class: 'link ttu f7 blue' %>

    <% else %>

      <%= form_for [@product, UsageManifest.find_or_initialize_by(product: @product, user: current_user)] do |f| %>
            
        <div class="input-group input-group-sm">
          <%= f.select :status, 
                        [[humanize_status_for("using"), "using"],
                         [humanize_status_for("used"), "used"]],
                        {include_blank: true},
                        {class: "form-control"} %>
          <div class="input-group-btn">
            <% if user_signed_in? %>
              <%= f.submit "Save", class: "btn btn-secondary" %>
              </div>
            <% else %>
              <%= f.submit "Save", disabled: true, class: "btn btn-secondary" %>      
              </div>
              <span class="red">You must login</span>
            <% end %>


        </div>

      <% end %>

    <% end %>
  </li>
</ul>
