<div class='db pv3 bb b--black-10 black cf hover-bg-light-yellow'>
   
  <div class="fl w-80">
    <span class="b">
      <%= link_to product.brand + ' ' + product.name,
            product_comments_path(product),
            class: 'link black' %>
    </span>
    
    <% if policy(product).edit? %>
      <%= link_to 'Edit',
                  edit_product_path(product),
                  class: 'link silver f7 dib ml2' %>
    <% end %>

    <% if policy(product).destroy? %>
      <%= link_to 'x',
                product, 
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'link silver f7 dib ml2' %>
    <% end %>
  </div>

  <div class="fl w-10 tr">
    <%= product.usage_manifests.with_status(:used).count %> used
  </div>

  <div class="fl w-10 tr">
    <%= product.usage_manifests.with_status(:using).where.not(approved_image_id: nil).count %> using
  </div>

</div>
