<div class='row product py-2'>
  
  <div class="col-8">
    <span class="b">
      <%= link_to product.display,
            product_comments_path(product),
            class: 'link black' %>
    </span>
    
    <% if policy(product).edit? %>
      <%= link_to 'Edit',
                  edit_product_path(product),
                  class: 'link silver f7 dib ml2' %>
    <% end %>

    <% if policy(product).destroy? %>
      <%= link_to 'x',
                product, 
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'link silver f7 dib ml2' %>
    <% end %>
  </div>

  <div class="col-2 text-right">
    <%= product.usage_manifests.with_status(:used).count %> used
  </div>

  <div class="col-2 text-right">
    <%= product.usage_manifests.with_status(:using).where.not(approved_image_id: nil).count %> using
  </div>

</div>
