<%= @product.usage_manifests.with_status(:using).count %> users using this product now,
<br>

<%= @product.usage_manifests.with_status(:used).count %> users used this product before.
<br>

<% if user_signed_in? && (um = current_user.usage_manifest_for(@product)) %>
  
  <%=  humanize_status_for um.status %> 

  <%= link_to "Cancel",
              [@product, :usage_manifests],
              method: :delete %>

<% else %>

  <%= form_for [@product, UsageManifest.find_or_initialize_by(product: @product, user: current_user)] do |f| %>
        
    <%= f.select :status, 
                  # UsageManifest.statuses.keys,
                  [[humanize_status_for("using"), "using"],
                   [humanize_status_for("used"), "used"]],
                  include_blank: true %>

    <% if user_signed_in? %>
      <%= f.submit "Save" %>
    <% else %>
      <%= f.submit "Save", disabled: true %>      
    <% end %>

  <% end %>

<% end %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'Comments', product_comments_path(@product) %>