<%= render "header" %>
<%= render "navigation" %>

<table class="table table-hover mt-5">
  <thead class="thead-default">
    <tr>
      <th>
        <%= sortable "product_id" %>
      </th>
      <th>
        <%= sortable "author_id" %>
      </th>
      <th>
        Body
      </th>
      <th>
        <%= sortable "created_at" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr id="<%= dom_id comment %>">
        <td>
          <%= link_to "#{comment.product.brand} #{comment.product.name}", comment.product %>
        </td>
        <td>
          <%= link_to comment.author.full_name, comment.author %>
        </td>
        <td>
          <%= sanitize comment.body %>
        </td>
        <td>
          <%= time_ago_in_words comment.created_at %> ago
        </td>
      </tr>
    <% end %>
  </tbody>
</table>