<!DOCTYPE html>
<html>
  <head>
    <title>CrispyWinner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'nav' %>
    <%= render 'messages' %>

    <%= yield :messages %>

    <section class="container-fluid px-5 py-5 bg-white mt-5">
      <%= yield %>
    </section>

    <%= render 'end_of_page' %>
  </body>
</html>
