<%= render 'head' %>

<%= render 'nav' %>
<%= render 'messages' %>

<%= yield :messages %>

<section class="container-fluid px-5 py-5 bg-white mt-5">
  <%= yield %>
</section>


<%= render 'end_of_page' %>
<%= render 'html_end' %>
